%p#notice= notice
%h1 Listing Games
%table
  %thead
    %tr
      %th Score
      %th User
      %th{:colspan => "3"}
  %tbody
    - @games.each do |game|
      %tr
        %td= game.score
        %td= game.user_id
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Game', new_game_path
