.row.game.container{{"ng-controller" => "GameController as game"}}

  .start-block{{"ng-show" => "game.gameStatus == 'ready'"}}
    %h1.text-center= "#{t(:hello)}, #{@current_user.name}."

    .game-actions.center
      .button{"ng-click" => "game.startGame()"}
        %p.btnText= t(:ready_button)
        .btnTwo
          %p.btnText2= t(:go_button)

      .button{"ng-controller"=> "UserController as user", "ng-click" => "user.sessionDestroy()"}
        %p.btnText= t(:logout_button)
        .btnTwo
          %p.btnText2 X

  .row.game-block{{"ng-show" => "game.gameStatus != 'ready'"}}
    .movies{{"ng-init" => "game.getMovies()"}}
      .row.movie
        .col-md-7.block
          %img.center{:src => "{{game.imageHostingUrl}}/{{game.secret.image_file_name}}"}/
          %p.right-answer.text-center{{"ng-show" => "game.gameStatus == 'finished'"}}
            {{game.secretMovieTitle}}
          %h2.text-center= "#{t(:score_header)}: {{game.score}}"

          // ========= ACTION BUTTONS ========= //
          .row.finished-actions.center{{"ng-show" => "game.gameStatus == 'finished'"}}
            %a{:href => "/", class: "button col-xs-6"} 
              = t(:new_game_button)

            %a{:href => "", class: "button col-xs-6", "ng-click" => "game.showRating()", "ng-hide" => "game.ratingShows"} 
              = t(:rating_button)

            %a{:href => "", class: "button col-xs-6", "ng-click" => "game.hideRating()", "ng-show" => "game.ratingShows"}
              = t(:back_button)

        .col-md-5.options{{"ng-hide" => "game.ratingShows"}}
          // ========= TIMER ========= //
          %h3.timer
            %timer{:countdown => "30", :interval => "1000"}
              {{countdown}} sec

          // ========= MOVIES OPTIONS ========= //
          %ul.center
            %li{{"ng-repeat" => "movie in game.movies"}}
              %a#option{:href => "", class: "button center", "ng-class" => "{ 'right': $index == game.rightAnswer, 'wrong': $index == game.wrongAnswer }", "ng-click" => "game.checkAnswer(movie.id, $index)"}
                {{movie.title}}

          // ========= HELP OPTIONS ========= //
          %ul.help-options{{"ng-hide" => "game.gameStatus == 'finished'"}}
            %li{{"ng-show" => "game.firstHelpOption == true"}}
              %a{:href => "", class: "button first", "ng-click" => "game.getFiftyFifty()"}
                50/50

            %li{{"ng-show" => "game.secondHelpOption == true"}}
              %a{:href => "", class: "button first", "ng-click" => "game.getSkipQuestion()"}
                = t(:skip_button)

            %li{{"ng-show" => "game.thirdHelpOption == true"}}
              %a{:href => "", class: "button first", "ng-click" => "game.add20Seconds()"}
                = t(:addseconds_button)

        // ========= RATING ========= //
        .col-md-5.rating{{"ng-show" => "game.ratingShows"}}
          %table.center
            %caption= t(:rating_caption)

            %tr
              %th= t(:rating_name)
              %th= t(:rating_score)

            %tr{{"ng-repeat" => "game in game.gamesList"}}
              %td {{game.user.name}}
              %td {{game.score}}