%h1 Game
= flash[:success]
= flash[:error]
.correct-answers= "Вы ответили правильно на #{@game.score} вопросов"

- if session[:game] == 'started'
  .guess-movie-block
    .image= image_tag(@movie.image, @movie.title)

    - if session['game'] == 'started'
      .movies
        %form{:action => '/movies/game', :method => 'post'}
          %ul
            - @movies.each do |movie|
              %li
                %input{:name => "answer_id", :type => "checkbox", :value => "#{movie.id}"}>/
                = movie.title
          %input{:name => "id", :checked => "checked", :style => "display:none", :type => "checkbox", :value => "#{@movie.id}"}>/
          %input{:type => "submit", :value => "Send", :class => "button"}

- if session[:game] != 'started'
  = "Ваш счет: #{@game.score}"
  %br/
  = link_to 'New game', 'game/next_one'
  %br/
  = link_to 'Rating', '/movies'