!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Guessa
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Buda:300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/
  %body{"ng-app" => "Guessa"}
    = image_tag "http://hflab.net/graphics/testing/alpha.png"
    .container
      = yield